<h1><%= @doctor.name %></h1>
<h3>Specialty: <%= @doctor.specialty %></h3>
<h3>Studied at: <%= @doctor.university %></h3>

<h3>Works at: <%= @hospital.name %></h3>
<div id="patients">
<h3>Patients: <% @doctor.patients.each do |patient|%></h3>
  <div id="patient_<%= patient.id %>">
    <p><%= patient.name %></p>
    <%= button_to "Remove Patient", doctor_patient_path(@doctor.doctor_patient_find(patient)), method: :delete %>
  </div>
<% end %>
</div>